<!--The content below is only a placeholder and can be replaced.-->
<input type="file" (change)="fileUpload($event)"/>
<button (click)="calistir()"> Convert </button>
<div *ngIf="sonuc" >
<p>yükleniyor (loading ) %{{progres}}</p>
<button (click)="sonucDondur(1)" class="menu-button" >Metin (Text) </button>
<button (click)="sonucDondur(2)" class="menu-button" >kelimeler (Words)</button>
<button (click)="sonucDondur(3)" class="menu-button" >paragraflar (paragraps)</button>
<button (click)="sonucDondur(4)" class="menu-button" >Karakterler(Symbols)</button>
<button (click)="sonucDondur(5)" class="menu-button" >Satırlar (lines)</button>
<div  *ngIf="sonucVarMi" >
  <div *ngFor="let de of sonuc">
    {{de.text}}
  </div>

</div>
  <div *ngIf="!sonucVarMi" [innerHTML]="sonuc">

  </div>
</div>
<router-outlet></router-outlet>
<a href="https://veyselsebu.com/" style="font-size: 20px; position: fixed; top:30px; right : 30px; " >Veysel Sebu</a>
